<div class="sidenav-header">
  <img
    [width]="setProfilePicSize()"
    [height]="setProfilePicSize()"
    src="../../assets/amin.JPG"
  />
  <div class="header-text" [class.hide-header-text]="sidenavCollapsed()">
    <h2>سیدامین حسینی</h2>
    <p>مدیر سایت</p>
  </div>
</div>

<mat-nav-list>
  @for (item of menuItems(); track $index) {
  <a
    class="menu-item"
    mat-list-item
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon
      [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'"
      matListItemIcon
      >{{ item.icon }}</mat-icon
    >
    <span
      matListItemTitle
      class="list-item-label"
      [class.hide-list-item-label]="sidenavCollapsed()"
      >{{ item.label }}</span
    >
  </a>
  }
</mat-nav-list>
