.full-width {
  width: 100%;
}

.add-btn {
  width: 100%;
  height: 3.4rem;
}

.keyword-element {
  border: 2px solid rgba(0, 0, 0, 0.12);
  width: fit-content;
  height: auto;
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  background-color: #b284be;
  border-radius: 3px;
  margin-top: 5px;
}
.keyword-btn {
  background-color: #b284be;
  border: 0;
  padding-right: 10px;
}
.return-btn {
  margin-right: 20px;
}
.keyword-btn:hover,
:active {
  color: #ffffff;
}

.vazir-font {
  font-family: vazir;
}