<form
  class="form-container"
  [formGroup]="productCategoryForm"
  (ngSubmit)="onSubmit()"
  #form="ngForm"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>دسته بندی محصول جدید</mat-card-title>
    </mat-card-header>
    <br /><br /><br />
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">دسته بندی محصول اصلی</mat-label>
            <mat-select formControlName="parentId">
              <mat-option class="vazir-font" [value]="0">هیچکدام</mat-option>
              @for (selectOption of selectOptions; track $index) {
              <mat-option
                class="vazir-font"
                [value]="selectOption.productCategoryId"
                >{{ selectOption.name }}</mat-option
              >
              }
            </mat-select>
            @if (ControlNotValid('parentId')) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">نام</mat-label>
            <input
              type="text"
              matInput
              class="vazir-font"
              formControlName="name"
              (focusout)="nameOut($event)"
            />
            @if (ControlNotValid('name') &&
            getControlErrors('name')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('name') &&
            getControlErrors('name')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">توضیحات</mat-label>
            <textarea
              matInput
              class="vazir-font"
              formControlName="description"
              (focusout)="descriptionOut($event)"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"
            ></textarea>
            @if (ControlNotValid('description') &&
            getControlErrors('description')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('description') &&
            getControlErrors('description')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">توضیحات متا</mat-label>
            <textarea
              matInput
              class="vazir-font"
              formControlName="metaDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"
            ></textarea>
            @if (ControlNotValid('metaDescription', 'seo') &&
            getControlErrors('metaDescription', 'seo')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('metaDescription', 'seo') &&
            getControlErrors('metaDescription', 'seo')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">اسلاگ</mat-label>
            <input
              type="text"
              matInput
              class="vazir-font"
              formControlName="slug"
            />
            @if (ControlNotValid('slug', 'seo') && getControlErrors('slug',
            'seo')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('slug', 'seo') && getControlErrors('slug',
            'seo')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="full-width">
            <mat-label class="vazir-font">کلمات کلیدی</mat-label>
            <input
              type="text"
              matInput
              class="vazir-font"
              [(ngModel)]="keywordEntered"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button
            class="vazir-font add-btn"
            mat-raised-button
            color="primary"
            type="button"
            (click)="addNewKeyword()"
            [disabled]="activateAddKeywordBtn()"
          >
            <mat-icon style="font-weight: bolder; font-size: 20px"
              >add</mat-icon
            >
          </button>
        </div>
      </div>
      @if (keywords) {
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <input
            type="text"
            hidden
            formControlName="keywords"
            [value]="keywords"
          />
          @for (keyword of keywords; track $index) {
          <div class="keyword-element">
            <span style="color: black">{{ keyword }}</span>
            <button
              class="keyword-btn"
              type="button"
              (click)="deleteKeyword($index)"
            >
              x
            </button>
          </div>
          }
        </div>
      </div>
      }
      <br /><br /><br />
      <button
        class="vazir-font"
        style="margin-left: 10px"
        mat-raised-button
        type="button"
        (click)="returnToProductCategories()"
      >
        بازگشت
      </button>
      <button
        class="vazir-font"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!productCategoryForm.valid"
      >
        اضافه کردن
      </button>
    </mat-card-content>
  </mat-card>
</form>
