<form
  class="form-container"
  [formGroup]="productCategoryForm"
  (ngSubmit)="onSubmit(focusElement)"
  #form="ngForm"
  #focusElement
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>دسته بندی محصول جدید</mat-card-title>
    </mat-card-header>
    <br /><br /><br />
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>دسته بندی محصول اصلی</mat-label>
            <mat-select formControlName="parentId">
              <mat-option metavisionFontHelper [value]="0">هیچکدام</mat-option>
              @for (selectOption of selectOptions; track $index) {
              <mat-option
                metavisionFontHelper
                [value]="selectOption.productCategoryId"
                >{{ selectOption.name }}</mat-option
              >
              }
            </mat-select>
            @if (ControlNotValid('parentId')) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>نام</mat-label>
            <input
              type="text"
              matInput
              metavisionFontHelper
              formControlName="name"
              (focusout)="nameOut($event)"
            />
            @if (ControlNotValid('name') &&
            getControlErrors('name')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('name') &&
            getControlErrors('name')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>توضیحات</mat-label>
            <textarea
              matInput
              metavisionFontHelper
              formControlName="description"
              (focusout)="descriptionOut($event)"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"
            ></textarea>
            @if (ControlNotValid('description') &&
            getControlErrors('description')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('description') &&
            getControlErrors('description')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>توضیحات متا</mat-label>
            <textarea
              matInput
              metavisionFontHelper
              formControlName="metaDescription"
              cdkTextareaAutosize
              cdkAutosizeMinRows="3"
              cdkAutosizeMaxRows="5"
            ></textarea>
            @if (ControlNotValid('metaDescription', 'seo') &&
            getControlErrors('metaDescription', 'seo')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('metaDescription', 'seo') &&
            getControlErrors('metaDescription', 'seo')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>اسلاگ</mat-label>
            <input
              type="text"
              matInput
              metavisionFontHelper
              formControlName="slug"
            />
            @if (ControlNotValid('slug', 'seo') && getControlErrors('slug',
            'seo')?.['required']) {
            <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
            } @if (ControlNotValid('slug', 'seo') && getControlErrors('slug',
            'seo')?.['maxlength']) {
            <mat-error
              >تعداد کاراکتر های استفاده شده بیشتر از حد مجاز است</mat-error
            >
            }
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <mat-form-field metavisionFormField>
            <mat-label metavisionFontHelper>کلمات کلیدی</mat-label>
            <input
              type="text"
              matInput
              metavisionFontHelper
              [(ngModel)]="keywordEntered"
              [ngModelOptions]="{ standalone: true }"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button
            metavisionAddKeywordsBtn
            mat-raised-button
            color="primary"
            type="button"
            (click)="addNewKeyword()"
            [disabled]="activateAddKeywordBtn()"
          >
            <mat-icon metavisionAddIcon>add</mat-icon>
          </button>
        </div>
      </div>
      @if (keywords) {
      <div class="row" formGroupName="seo">
        <div class="col-md-12">
          <input
            type="text"
            hidden
            formControlName="keywords"
            [value]="keywords"
          />
          @for (keyword of keywords; track $index) {
          <div metavisionKeywordElement>
            <span>{{ keyword }}</span>
            <button
              metavisionDeleteKeywordBtn
              type="button"
              (click)="deleteKeyword($index)"
            >
              x
            </button>
          </div>
          }
        </div>
      </div>
      }
      <br /><br /><br />
      <button
        metavisionButtonHelper
        mat-raised-button
        type="button"
        (click)="returnToProductCategories()"
      >
        بازگشت
      </button>
      <button
        metavisionButtonHelper
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!productCategoryForm.valid"
      >
        اضافه کردن
      </button>
    </mat-card-content>
  </mat-card>
</form>
